*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}


/* PP Telegraf Regular */
@font-face {
    font-family: 'PP Telegraf';
    src: url('caminho/para/pp-telegraf-regular.woff2') format ('woff2'),
         url('caminho/para/pp-telegraf-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* PP Telegraf UltraBold */
@font-face {
    font-family: 'PP Telegraf';
    src: url('caminho/para/pp-telegraf-ultrabold.woff2') format('woff2'),
         url('caminho/para/pp-telegraf-ultrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

/* Garet Book */
@font-face {
    font-family: 'Garet';
    src: url('caminho/para/garet-book.woff2') format('woff2'),
         url('caminho/para/garet-book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* Garet Heavy */
@font-face {
    font-family: 'Garet';
    src: url('caminho/para/garet-heavy.woff2') format('woff2'),
         url('caminho/para/garet-heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

:root{
    --barra-color: #5F0087;
    --botton-color:#651563;
    --box-name: rgba(217, 217, 217, 0.123);
    --inst-name: #000000;
    --color-text: #ffff;
}

body{
    background-image: url("../../img/fundo-site1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    background-attachment: scroll;
    background-repeat: repeat-y, no-repeat;
    overflow-x: hidden;
    height: 90.19vh;
    color: var(--color-text);   
    margin-bottom: 6rem; 

    cursor: url(./img/img.logo.png),auto;
}

main {
    max-width: 1440px;
    margin-inline: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 2%;

}

header img {
    width: 5.36rem;
    height: auto;    
}

header .logo {
    width: 3.5rem;
    height: 3.5rem; 
    margin-right: 0.725rem; 
}

header nav {
    width: 71.66rem;
    height: auto;
}

nav h1 {
    font-family: 'PP Telegraf', sans-serif;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: var(--color-text);

    font-family: 'Garet', 'sans-serif';
    font-weight: 200;
}

nav.pags a {
    color: white;
    text-decoration: none;
    margin-left: 15%;
    font-size: 1.625rem;
    font-weight: 300;

    font-family: 'Garet', 'sans-serif';
    font-weight: 200;
    
}

nav.pags a:hover {
    text-decoration: underline;
}

.inicio2 {
    margin-bottom: 8rem;
}

.inicio {
    padding: 2.5rem 5.125rem;
}

.inicio h1 {
    font-size: 5.998rem;
    margin-top: 7rem;
    margin-bottom: 0.725rem;

    font-family: 'PP Telegraf', sans-serif;
    font-weight: 100;
}

.inicio p {
    font-size: 1.775rem;
    line-height: 1.15;
    margin-top: 0.125rem;

    font-family: 'Garet', sans-serif;
    font-weight: 200;
}

.inicio h5 {
    font-size: 2rem;
    margin-top: -8rem;

    font-family: 'Garet', sans-serif;
    font-weight: 200;
}

.inicio img {
    height: 1.87rem;
    text-decoration: none;
}

.redes_sociais {
    margin-top: 23.5rem;
    display: flex;
}

.redes_sociais img {
    padding-left: 1.5rem;
    width: 2rem;
    height: 2rem;
    margin-bottom: -0.20rem;
}



.info {
    padding-left: 1.1rem;
    display: flex;
    justify-content: space-between;
    padding: 3rem 4rem;
    
    margin-top: 1rem;
}

.info h2{ 
    margin-bottom: 0.725rem; 
    margin-top: 3rem;
    font-size: 3.5rem; 
    
    font-family: 'PP Telegraf', sans-serif;
    font-weight: 100;
}

.info p {
    margin-bottom: 2.25rem;
    font-size: 1.55rem;
    padding: 1rem;

    font-family: 'Garet', sans-serif;
    font-weight: 200; 
}

.info button {
    width: 14.5rem;
    height: 4.56rem;
    padding: 1.1rem;
    margin-left: 1rem;

    background-color: var(--botton-color);
    border: none;
    text-decoration: none;
    text-align: center;
    border-radius: 1.5rem;

    color: var(--color-text); 
    display: inline-block;
    font-size: 1.4rem;
    margin: 0;
    cursor: pointer;

    font-family: 'Garet', sans-serif;
    font-weight: 900;
}

.info button:hover {
    background-color: #D7B0E8;
    color: #51114F;
}

.info img {
    width: 25.7rem;
    height: 37rem;

    max-width: 100%;
    border-radius: 2.9rem;
    margin-bottom: 10rem;
}

.Contato {
    display: flex;
    flex-direction: column;
}

.desen {
    font-size: 2rem;
    font-family: 'PP Telegraf', sans-serif;
    font-weight: 100;

    margin-top: -6rem;
    text-align: center;
}

.Contato img {
    width: 15rem;
    height: 15rem;
    border-radius: 6rem;
    margin-top: 5.875rem;
}

.Contato h2 {
    font-size: 3.025rem;
    margin-left: 5rem;
}

.fileira1 {
    display: flex;
    margin-left: 12.5%;
    margin-top: -6rem;
}

.fileira2{
    display: flex;
    margin-top: -8rem;
    margin-left: 25.5%;
}

.Contato h2 {
    font-size: 3.125rem;
    margin: 5rem;
}

.Desenvolvedores {
    margin: 2.5rem;
}

.pessoas h3{ 
    margin-top: 1rem;
    font-size: 1.70rem;  

    font-family: 'Garet', sans-serif;
    font-weight: 300;
}

.pessoas p {
    font-size: 1.50rem;
    color: var(--inst-name);

    font-family: 'Garet', sans-serif;
    font-weight: 800;
}
 
.pessoas {
    display: flex;
    border-radius: 1.25rem;
    width: 16.5rem;
    height: 6rem;
    align-items: center;
    background: var(--box-name);
    flex-direction: column;
} 

#feedback, #img_principal{
    width: 96.5rem;
    height: 30.6rem;
}

#feedback h2 {
    font-size: 3.225rem;
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: -1rem;

    font-family: 'Telegraf', sans-serif;
    font-weight: 100;
}

hr {  
    height: 4px;
    width: 7700%;
    color: var(--barra-color);
    background-color: var(--barra-color);
    border: 0;
    margin: 2rem 2rem;
}

#feedback p {
    margin-top: 2.5rem;
    margin-bottom: -6.5rem;
    font-size: 2rem;
    width: 32.25rem;
    height: 10.125rem;

    display: flex;
    justify-content: left;
    padding-left: 3.9rem;

    font-family: 'Garet', sans-serif;
    font-weight: 200;
}

#feedback div {
    padding-left: 1.1rem;
    display: flex;
    flex-direction: column;
    padding: 20rem;
    margin-left: 25%;
    margin-top: -32.60rem
}

#feedback div > p{
    padding-left: 0%;
    font-size: 1.875rem;
}

.contato-info p  {
    flex-direction: left;
}

table {
    margin-bottom: -16rem;
}

table img{
    width: 2.9rem;
    height: 2.94rem; 
    margin-right: 1.56rem;
}

table p{
    font-size: 1.75rem;
    padding-left: 1.5rem;
    margin-left: -3.9rem;
}

#inst {
    margin-top: 0.5rem;
}
#inst {
    margin-top: 0.5rem;
}