*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}


/* PP Telegraf Regular */
@font-face {
    font-family: 'PP Telegraf';
    src: url('../FONTES/PPTelegraf-Regular.woff2') format ('woff2'),
         url('../FONTES/PPTelegraf-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* PP Telegraf UltraBold */
@font-face {
    font-family: 'PP Telegraf';
    src: url('../FONTES/PPTelegraf-UltraBold.woff2') format('woff2'),
         url('../FONTES/PPTelegraf-UltraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

/* Garet Book */
@font-face {
    font-family: 'Garet';
    src: url('../FONTES/Garet-Book.woff2') format('woff2'),
         url('../FONTES/Garet-Book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* Garet Heavy */
@font-face {
    font-family: 'Garet';
    src: url('../FONTES/Garet-Heavy.woff2') format('woff2'),
         url('../FONTES/Garet-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

:root{
    --barra-color: #5F0087;
    --botton-color:#651563;
    --box-name: rgba(217, 217, 217, 0.123);
    --texto: #000000;
    --pergunta: #5B5B5B;
    --color-text: #ffff;
    --background: #D9D9D9;
}

body{
    background-image: url("../../img/fundo-site1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    background-attachment: scroll;
    background-repeat: repeat-y, no-repeat;
    overflow-x: hidden;
    height: 90.19vh;
    color: var(--color-text);   
    margin-bottom: 6rem; 

    opacity: 40;

    cursor: url('../../img/img.cursor.png'), auto;
}

main{
    margin-inline: auto;
    max-width: 1440px;

    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 2%;
}

header img {
    width: 5.36rem;
    height: auto;    
}

header .logo {
    width: 3.5rem;
    height: 3.5rem; 
    margin-right: 0.725rem; 
}

header nav {
    width: 71.66rem;
    height: auto;
}

nav h1 {
    font-family: 'PP Telegraf', sans-serif;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: var(--color-text);

    font-family: 'Garet', 'sans-serif';
    font-weight: 200;
}

nav.pags a {
    color: white;
    text-decoration: none;
    margin-left: 15%;
    font-size: 1.625rem;
    font-weight: 300;

    font-family: 'Garet', 'sans-serif';
    font-weight: 200;
    
}

nav.pags a:hover {
    text-decoration: underline;
}

.app {
    width: 55rem;
    height: 25rem;
    margin-top: 5rem;
    margin-left: 5.8rem;
    padding: 3.5rem;
    background-color: var(--background);
    border-radius: 4.6rem;

    align-items: center;
}

.quiz h2 {
    width: 45rem;
    height: 4.8rem; 
    font-size: 1.9rem;
    color: var(--pergunta);

    font-family: 'Garet', sans-serif;
    font-weight: 600;
}

.btn {
    background: #D9D9D9;
    color: #222;
    width: 100%;
    border: 1px solid var(--background);
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s;

    font-size: 1.5rem;
    font-family: 'Garet', sans-serif;
    font-weight: 500;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;

}

;btn:disabled {
   cursor: no-drop; 
}

#next-btn {
    background: var(--botton-color);
    color: #fff;
    font-weight: 500;
    width: 250px;
    border: 0;
    padding: 10px;
    margin: 25px auto 0;
    border-radius: 8px;
    cursor: pointer;
    display: none;

    margin-top: -0.2rem;

    font-family: 'Garet', sans-serif;
    font-weight: 600;
}

.correct {
    background: #9aeabc;
}

.incorrect {
    background: #ff9393;
}

.barra {
    background: var(--background);
    height: 26.5rem;
    width: 2.5rem;
    padding: 4px;
    border-radius: 3.125rem;
    
    margin-left: 85%;
    margin-top: -26.8rem;

    cursor: pointer;
}

.barra div {
    height: 100%;
    background: var(--botton-color);
    border-radius: 999px;
}

section {
    margin-bottom: 20rem;
}
