/* PP Telegraf Regular */
@font-face {
    font-family: 'PP Telegraf';
    src: url('./FONTES/PPTelegraf-Regular.woff2') format ('woff2'),
         url('./FONTES/PPTelegraf-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* PP Telegraf UltraBold */
@font-face {
    font-family: 'PP Telegraf';
    src: url('./FONTES/PPTelegraf-UltraBold.woff2') format('woff2'),
         url('./FONTES/PPTelegraf-UltraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

/* Garet Book */
@font-face {
    font-family: 'Garet';
    src: url('./FONTES/Garet-Book.woff2') format('woff2'),
         url('./FONTES/Garet-Book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* Garet Heavy */
@font-face {
    font-family: 'Garet';
    src: url('./FONTES/Garet-Heavy.woff2') format('woff2'),
         url('./FONTES/Garet-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

:root{
    --barra-color: #5F0087;
    --botton-color:#651563;
    --color-text: #ffff;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 9% 10%
}

div {
    background-color: #D9D9D9;
    width: 33.9rem;
    height: 23.37rem;


    display: flex;
    border-radius: 1.5rem;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-family: 'PP Telegraf', sans-serif;
    font-size: 1.8rem;
    font-weight: normal;
}

button {
    width: 14.5rem;
    height: 4.56rem;
    padding: 1.1rem;
    margin: 1rem;

    background-color: var(--botton-color);
    border: none;
    text-decoration: none;
    text-align: center;
    border-radius: 1.5rem;

    color: var(--color-text); 
    font-size: 1.7rem;
    cursor: pointer;

    font-family: 'Garet', sans-serif;
    font-weight: 900;
}

button:hover {
    color: #000;
}
