*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}


/* PP Telegraf Regular */
@font-face {
    font-family: 'PP Telegraf';
    src: url('./FONTES/PPTelegraf-Regular.woff2') format ('woff2'),
         url('./FONTES/PPTelegraf-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* PP Telegraf UltraBold */
@font-face {
    font-family: 'PP Telegraf';
    src: url('./FONTES/PPTelegraf-UltraBold.woff2') format('woff2'),
         url('./FONTES/PPTelegraf-UltraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

/* Garet Book */
@font-face {
    font-family: 'Garet';
    src: url('./FONTES/Garet-Book.woff2') format('woff2'),
         url('./FONTES/Garet-Book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* Garet Heavy */
@font-face {
    font-family: 'Garet';
    src: url('./FONTES/Garet-Heavy.woff2') format('woff2'),
         url('./FONTES/Garet-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

:root{
    --barra-color: #5F0087;
    --botton-color:#651563;
    --box-name: rgba(217, 217, 217, 0.123);
    --inst-name: #000000;
    --color-text: #ffff;
}

body{
    background-image: url("../img/fundo-site1.jpg");
    background-size: cover;
    background-position: center; 
    background-attachment: fixed; 
    background-attachment: scroll;
    background-repeat: repeat-y, no-repeat;
    overflow-x: hidden;
    height: 90.19vh;
    color: var(--color-text);   
    margin-bottom: 6rem; 
}

main {
    max-width: 1440px;
    margin-inline: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 2%;

}

header img {
    width: 5.36rem;
    height: auto;    
}

header .logo {
    width: 3.5rem;
    height: 3.5rem; 
    margin-right: 0.725rem; 
}

header nav {
    width: 71.66rem;
    height: auto;
}

nav h1 {
    font-family: 'PP Telegraf', sans-serif;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: var(--color-text);

    font-family: 'Garet', 'sans-serif';
    font-weight: 200;
}

nav.pags a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 15%;
    font-size: 1.625rem;
    font-weight: 300;

    font-family: 'Garet', 'sans-serif';
    font-weight: 200;
    
}

nav.pags a:hover {
    text-decoration: underline;
}

.form {
    background-color: rgba(18, 5, 37, 0.8);
    padding: 20px 40px;
    border-radius: 25px;
    max-width: 650px;
    width: 1100%;
    margin-left: 21.5rem;
    margin-top: 100px;
    /*text-align: center;*/
}

h2 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 21px;
    margin-left: 16px;
}

.input-grupo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-grupo input {
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #aa00ff;
    border-radius: 25px;
    background-color: transparent;
    color: #fff;
    outline: none;
}

.input-grupo1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 32rem;
    margin-left: 1.2rem;
}

.input-grupo2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 32rem;
    margin-left: 1.2rem;
}

.termos2 {
    display: flex;
    margin-left: 286px;
    font-size: 0.86rem;
    margin-top: -25px;
    margin-left: 310px;
}

.termos2 a {
    color: #aa00ff;
}

button {
    background-color: #aa00ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 29px;
    font-size: 1rem;
    cursor: pointer;    
    transition: background-color 0.3s ease;
    margin-left: 60px;
    width: 200px;
}

button:hover {
    background-color: #8800cc;
}