*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}


/* PP Telegraf Regular */
@font-face {
    font-family: 'PP Telegraf';
    src: url('../../FONTES/PPTelegraf-Regular.woff2') format ('woff2'),
         url('../../FONTES/PPTelegraf-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* PP Telegraf UltraBold */
@font-face {
    font-family: 'PP Telegraf';
    src: url('../../FONTES/PPTelegraf-UltraBold.woff2') format('woff2'),
         url('../../FONTES/PPTelegraf-UltraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

/* Garet Book */
@font-face {
    font-family: 'Garet';
    src: url('../../FONTES/Garet-Book.woff2') format('woff2'),
         url('../../FONTES/Garet-Book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* Garet Heavy */
@font-face {
    font-family: 'Garet';
    src: url('../../FONTES/Garet-Heavy.woff2') format('woff2'),
         url('../../FONTES/Garet-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

:root{
    --barra-color: #5F0087;
    --botton-color:#651563;
    --box-name: rgba(217, 217, 217, 0.123);
    --inst-name: #000000;
    --color-text: #ffff;
}

body{
    background-image: url("../../img/fundo-site1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-attachment: scroll;
    background-repeat: repeat-y, no-repeat;
    overflow-x: hidden;
    height: 90.19vh;
    color: var(--color-text);   
    margin-bottom: 6rem; 

    cursor: url('../../img/img.cursor.png'), auto;
}

main {
    max-width: 1440px;
    margin-inline: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 2%;
}

header img {
    width: 5.36rem;
    height: auto;    
}

header .logo {
    width: 3.5rem;
    height: 3.5rem; 
    margin-right: 0.725rem; 
}

header nav {
    width: 71.66rem;
    height: auto;
}

nav h1 {
    font-family: 'PP Telegraf', sans-serif;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: var(--color-text);

    font-family: 'Garet', 'sans-serif';
    font-weight: 200;
}

nav.pags a {
    color: white;
    text-decoration: none;
    margin-left: 15%;
    font-size: 1.625rem;
    font-weight: 300;
    
}

nav.pags a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem 5rem;
    position: relative;
}

/* Estilização das seções */
.estrutura {
    background-color: rgba(128, 0, 128, 0.8);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

/* Centralização dos títulos H1 */
.intro h1, .curio h1, .carac h1, .camadas h1, .sol-morrer h1, .material-de-estudo h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'PP Telegraf', sans-serif;
    font-weight: 500;
}

/* Intro Section */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro h1 {
    margin-bottom: 25rem;
    text-align: center;
    font-size: 6rem;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.intro .foto-intro {
    max-width: 39%; /* Ajuste de largura para a imagem */
    margin-right: 2rem; /* Espaçamento entre a imagem e o texto */
    border-radius: 10px;
    margin-left: 7rem;
}

.intro p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    max-width: 60%; /* Ajuste de largura para o texto */
    font-family: 'Garet', sans-serif;
    font-weight: 300;
    margin-right: -5rem;
    margin-left: -2rem;
}

/* Curiosidades Section */
.curio h1 {
    margin-bottom: -0rem;
    font-size: 5rem;
}

.curio {
    text-align: center;
}

.curiopp {
    display: flex;
}

.curio .foto-curio {
    max-width: 55%; /* Ajuste de largura para a imagem */
    margin: 2rem auto; /* Centralização da imagem com margem superior */
    border-radius: 10px;
}

.curio .texto-curio1 {
    flex-direction: column;
    text-align: left;  
    margin-left: 7rem;  
    margin-right: 3rem;
    max-width: 42%;
}

.curio .texto-curio2 {
    flex-direction: column;
    text-align: left;
    margin-right: -7rem;
    max-width: 40%;
}
.texto-curio1 p, .texto-curio2 p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
     /* Ajuste de largura para o texto */
    font-family: 'Garet', sans-serif;
    font-weight: 300;
}

/* Características Section */
.carac {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carac h1 {
    margin-top: 2rem;
    font-size: 5rem;
}

.carac .foto-carac {
    width: 25rem; /* Diminuição da largura da imagem */
    margin-top: 3rem;
    margin-right: 45rem;
    border-radius: 8px;
    height: 23rem;
}

.carac1, .carac2 {
    width: 60%;
    margin-bottom: 1rem;
    margin-left: 10rem;
    font-size: 1.5rem;
}

.carac1 {
    margin-right: 35rem;
    margin-top: 2rem;
    text-align: left;
    height: 13.5rem;
    margin-top: 2rem;
}

.carac2 {
    margin-top: -20rem;
    font-family: 'Garet', sans-serif;
    font-weight: 200;
    margin-left: 28rem;
}

.carac3 {
    width: 90%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: -1rem;
    text-align: left;

    font-family: 'Garet', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
}

/* Camadas Section */
.camadas {
    display: flex;
    justify-content: center;
    align-items: center;
    

    font-family: 'Garet', sans-serif;
    font-weight: 200;
}

.camadas .d1 {
    margin-top: 11.5rem;
    margin-left: 10rem;
    
    line-height: 2.5rem;
}

.camadas .d2 {
    margin-top: -7.5rem;
    margin-left: 25rem;
    margin-right: -50rem,;
    
    line-height: 2.5rem;

    width: 60%;
}

.camadas h1 {
    margin-bottom: 25rem;
    text-align: center;
    margin-left: 12rem;
    font-size: 5rem;
}

.foto-camada {
    max-width: 40%; /* Ajuste de largura para a imagem */
    margin-left: 15rem; /* Espaçamento entre a imagem e o texto */
    margin-top: 8rem;
}

.camadas .camadas-sol {
    max-width: 45%;
    text-align: left;
    margin-left: -65rem;
    font-size: 1.5rem;
}

/* Sol Morrer Section */
.sol-morrer {
    text-align: center;
}

.sol-morrer h1 {
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-size: 5rem;
}

.sol-morrer .subtittle {
    margin-bottom: 2rem;
    font-weight: 600;
    margin-left: 2rem;
    font-size: 1.35rem;
}

.paragpp {
    display: flex;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.sol-morrer .paragr1 {
    flex-direction: column;
    text-align: left;
    margin-left: 7rem;
}

.sol-morrer .paragr2 {
    flex-direction: column;
    text-align: left;
}

.sol-morrer .paragr1 p, .paragr2 p {
    width: 90%;
    margin-bottom: 2rem;
    margin-top: 1rem;


    font-family: 'Garet', sans-serif;
    font-weight: 200;
}

/* Material de Estudo Section */
.material-de-estudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.material-de-estudo h1 {
    margin-bottom: 5rem;
    margin-top: 3rem;
    margin-left: 1rem;
    font-size: 5rem;
}

.vida-aula, .mapa-mental {
    width: 80%;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
}

.vida-aula h2, .mapa-mental h2 {
    margin-bottom: 1rem;
}

.vida-aula iframe, .mapa-mental img {
    max-width: 80%; /* Ajuste de largura para a imagem */
    margin: 0 auto;
    border-radius: 10px;
}

strong {
    font-family: 'Garet', sans-serif;
    font-weight: 600;
}
