*{
    margin: 0;
    padding: 0;
    max-width: 1400px;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}


/* PP Telegraf Regular */
@font-face {
    font-family: 'PP Telegraf';
    src: url('../../FONTES/PPTelegraf-Regular.woff2') format ('woff2'),
         url('../../FONTES/PPTelegraf-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* PP Telegraf UltraBold */
@font-face {
    font-family: 'PP Telegraf';
    src: url('../../FONTES/PPTelegraf-UltraBold.woff2') format('woff2'),
         url('../../FONTES/PPTelegraf-UltraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

/* Garet Book */
@font-face {
    font-family: 'Garet';
    src: url('../../FONTES/Garet-Book.woff2') format('woff2'),
         url('../../FONTES/Garet-Book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* Garet Heavy */
@font-face {
    font-family: 'Garet';
    src: url('../../FONTES/Garet-Heavy.woff2') format('woff2'),
         url('../../FONTES/Garet-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

:root{
    --barra-color: #5F0087;
    --botton-color:#651563;
    --box-name: rgba(217, 217, 217, 0.123);
    --inst-name: #000000;
    --color-text: #ffff;
}

body{
    background-image: url("../../img/fundo-site1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-attachment: scroll;
    background-repeat: repeat-y, no-repeat;
    overflow-x: hidden;
    height: 90.19vh;
    color: var(--color-text);   
    margin-bottom: 6rem; 

    cursor: url('../../img/img.cursor.png'), auto;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 2%;
}

header img {
    width: 5.36rem;
    height: auto;    
}

header .logo {
    width: 3.5rem;
    height: 3.5rem; 
    margin-right: 0.725rem; 
}

header nav {
    width: 71.66rem;
    height: auto;
}

nav h1 {
    font-family: 'PP Telegraf', sans-serif;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: var(--color-text);

    font-family: 'Garet', 'sans-serif';
    font-weight: 200;
}

nav.pags a {
    color: white;
    text-decoration: none;
    margin-left: 15%;
    font-size: 1.625rem;
    font-weight: 300;
    
}

nav.pags a:hover {
    text-decoration: underline;
}

/* Estilização do Main */
main {
    padding: 2rem 5rem;
    position: relative;
}

/* Estilização das seções */
.estrutura {
    background-color: rgba(128, 0, 128, 0.8);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

/* Centralização dos títulos H1 */
.Pag1 h1, .caracteristicas h2, .pag2 h2, .pag3 h2, .material-de-estudo h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'PP Telegraf', sans-serif;
    font-weight: 500;
}
/* Seção Pag1 */
.Pag1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pag1 h1 {
    margin-bottom: 25rem;
    text-align: center;
    font-size: 6rem;
}

.Pag1 img {
    max-width: 39%;
    margin-right: 2rem;
    border-radius: 10px;
    margin-left: 7rem;
}

.Pag1 p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    max-width: 60%; /* Ajuste de largura para o texto */
    font-family: 'Garet', sans-serif;
    font-weight: 300;
    margin-right: -5rem;
    margin-left: -2rem;
}

/* Seção Características */
.caracteristicas h1 {
    margin-top: 2rem;
    font-size: 5rem;
}

.caracteristicas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caracteristicas .foto-carac {
    max-width: 70%; /* Ajuste de largura para a imagem */
    margin: 2rem auto; /* Centralização da imagem com margem superior */
    border-radius: 10px;
}

.caracteristicas .carac1 {
    margin-left: -4rem;
    margin-top: 4rem;
    margin-bottom: -14rem;
    text-align: left;
    font-family: 'Garet', sans-serif;
    height: 13.5rem;
    width: 50rem;
}

.caracteristicas .carac2 {
    margin-top: -14rem;
    font-family: 'Garet', sans-serif;
    font-weight: 200;
    margin-left: 30rem;
    width: 50rem;
}

.caracteristicas .carac1 p, .carac2 p {
    width: 60%;
    margin-bottom: 1rem;
    margin-left: 10rem;
    font-size: 1.5rem;
}


/* Seção Pag2 */
.pag2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pag2 h2 {
    margin-top: 13rem;
    font-size: 5rem;
    font-family: 'PP Telegraf', sans-serif;
    font-weight: 500;
}

.pag2 .Fases, .pag2 .Origem, .pag2 .Estrutura {
    max-width: 80%;
    margin-bottom: 2rem;
    text-align: left;
    font-family: 'Garet', sans-serif;
    font-weight: 200;
}

.Fases p {
    width: 45%;
    margin-bottom: 2rem;
    margin-left: 2rem;

    font-family: 'Garet', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;

}

.Fases .fase1 {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    margin-top: 2rem;
}


.pag2 img {
    margin-top: -100rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.pag2 .Origem p{
    width: 58%;
    margin-top: 7rem;
    margin-bottom: 2rem;
    margin-left: 30rem;
    margin-right: 7em;

    font-family: 'Garet', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.pag2 .Estrutura p{
    width: 1000;
    margin-top: 7rem;
    margin-bottom: 2rem;

    font-family: 'Garet', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

/* Seção Pag3 */

.pag3 .texto-curio2 {
    width: 900;
    margin-top: 7rem;
    margin-bottom: 2rem;

    font-family: 'Garet', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.pag3 img {
    max-width: 50%;
    margin-left: 28%;
    border-radius: 10px;
}

.pag3 h2 {
    margin-top: 13rem;
    font-size: 5rem;
    font-family: 'PP Telegraf', sans-serif;
    font-weight: 500;
}

/* Seção Material de Estudo */
.material-de-estudo {
    margin-top: 13rem;
    font-size: 5rem;
    font-family: 'PP Telegraf', sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.material-de-estudo h1 {
    margin-bottom: 5rem;
    margin-top: 3rem;
    margin-left: 1rem;
    font-size: 5rem;
}

.vida-aula, .mapa-mental {
    width: 80%;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
}

.vida-aula h2, .mapa-mental h2 {
    margin-bottom: 1rem;
}

.vida-aula iframe, .mapa-mental img {
    max-width: 80%; /* Ajuste de largura para a imagem */
    margin: 0 auto;
    border-radius: 10px;
}

strong {
    font-family: 'Garet', sans-serif;
    font-weight: 600;
}
