*{
    margin: 0;
    padding: 0;
    max-width: 1400px;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}


/* PP Telegraf Regular */
@font-face {
    font-family: 'PP Telegraf';
    src: url('caminho/para/pp-telegraf-regular.woff2') format ('woff2'),
         url('caminho/para/pp-telegraf-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* PP Telegraf UltraBold */
@font-face {
    font-family: 'PP Telegraf';
    src: url('caminho/para/pp-telegraf-ultrabold.woff2') format('woff2'),
         url('caminho/para/pp-telegraf-ultrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

/* Garet Book */
@font-face {
    font-family: 'Garet';
    src: url('caminho/para/garet-book.woff2') format('woff2'),
         url('caminho/para/garet-book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* Garet Heavy */
@font-face {
    font-family: 'Garet';
    src: url('caminho/para/garet-heavy.woff2') format('woff2'),
         url('caminho/para/garet-heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

:root{
    --barra-color: #5F0087;
    --botton-color:#651563;
    --box-name: rgba(217, 217, 217, 0.123);
    --inst-name: #000000;
    --color-text: #ffff;
}

body{
    background-image: url("../../img/fundo-site1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: repeat-y, no-repeat;
    overflow-x: hidden;
    height: 90.19vh;
    color: var(--color-text);   
    margin-bottom: 6rem; 

    cursor: url('../../img/img.cursor.png'), auto;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 2%;
}

header img {
    width: 5.36rem;
    height: auto;    
}

header .logo {
    width: 3.5rem;
    height: 3.5rem; 
    margin-right: 0.725rem; 
}

header nav {
    width: 71.66rem;
    height: auto;
}

nav h1 {
    font-family: 'PP Telegraf', sans-serif;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: var(--color-text);

    font-family: 'Garet', 'sans-serif';
    font-weight: 200;
}

nav.pags a {
    color: white;
    text-decoration: none;
    margin-left: 15%;
    font-size: 1.625rem;
    font-weight: 300;
    
}

nav.pags a:hover {
    text-decoration: underline;
}

/* Estilização do main */
main {
    padding: 2rem 5rem;
    position: relative;
}

/* Estilização das seções */
.Pag1, .pag2, .pag3, .material-de-estudo {
    background-color: rgba(128, 0, 128, 0.8);
    padding: 2rem;
    border-radius: 10px;
}

/* Centralização dos títulos H1 e H2 */
.Pag1 h1, .Pag1 h2,  .pag2 h2, .pag3 h2, .material-de-estudo h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'PP Telegraf', sans-serif;
    font-weight: 500;
}

/* Section Pag1 */
.Pag1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Pag1 h1 {
    margin-bottom: 2rem;
}

.Pag1 p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 100%; /* Ajuste de largura para o texto */
    font-family: 'Garet', sans-serif;
    font-weight: 200;
    text-align: justify;
}

.Pag1 .texo-meteoro {
    margin-top: 2rem;
    text-align: justify;
}

/* Section Pag2 */
.pag2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
}

.pag2 h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: left;
}

.pag2 p {
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: 'Garet', sans-serif;
    font-weight: 200;
    margin-bottom: 1rem;
    text-align: justify;
}

/* Section Pag3 */
.pag3 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.pag3 h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: left;
}

.pag3 p {
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: 'Garet', sans-serif;
    font-weight: 200;
    margin-bottom: 1rem;
    text-align: justify;
}

/* Section Material de Estudo */
.material-de-estudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.material-de-estudo h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.material-de-estudo img {
    max-width: 80%;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.material-de-estudo iframe {
    max-width: 100%;
    border-radius: 10px;
}
