*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body{
    background-image: url("../../img/fundo-site1.jpg");
    background-size: cover;
    background-position: center; 
    background-attachment: fixed; 
    background-attachment: scroll;
    background-repeat: repeat-y, no-repeat;
    overflow-x: hidden;
    height: 90.19vh;
    color: var(--color-text);   
    margin-bottom: 6rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 2%;

}

header img {
    width: 5.36rem;
    height: auto;    
}

header .logo {
    width: 3.5rem;
    height: 3.5rem; 
    margin-right: 0.725rem; 
}

header nav {
    width: 71.66rem;
    height: auto;
}

nav h1 {
    font-family: 'PP Telegraf', sans-serif;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: var(--color-text);

    font-family: 'Garet', 'sans-serif';
    font-weight: 200;
}

nav.pags a {
    color: white;
    text-decoration: none;
    margin-left: 15%;
    font-size: 1.625rem;
    font-weight: 300;

    font-family: 'Garet', 'sans-serif';
    font-weight: 200;
    
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
   /*height: calc(100vh - 6rem);*/
    min-height: calc(100vh - 6rem);
}

.form-container {
    background-color: rgba(235, 221, 221, 0.95); 
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.15);
    width: 350px;
    text-align: center;
    transition: all 0.3s ease;
    margin-top: -1rem;
}

h1 {
    margin-bottom: 1.5rem;
    font-weight: bold;
    color: #503477;
    height: 10px;
    margin-left: -10.5px;  
}

h2 {
    margin-bottom: 1.5rem;
    font-weight: bold;
    color: #250c47;/
}

input {
    width: 100%;
    padding: 12px;
    margin: 0.5rem 0;
    border: 1px solid #ff0000;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s;
}

input:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; 
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    font-size: 14px; 
}

.checkbox-container input {
    margin-right: 0.5rem;
}

.checkbox-container label {
    color: #707074; 
}