*{
    margin: 0;
    padding: 0;
}

/*fonte Telegraf */
@font-face {
    font-family: 'Telegraf';
    src: url('caminho/para/telegraf-regular.woff2') format('woff2'),
         url('caminho/para/telegraf-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Telegraf';
    src: url('caminho/para/telegraf-bold.woff2') format('woff2'),
         url('caminho/para/telegraf-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/*fonte Garet */
@font-face {
    font-family: 'Garet';
    src: url('caminho/para/garet-regular.woff2') format('woff2'),
         url('caminho/para/garet-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garet';
    src: url('caminho/para/garet-bold.woff2') format('woff2'),
         url('caminho/para/garet-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

:root{
    --barra-color: #5F0087;
    --botton-color:#651563;
    --box-name: rgba(217, 217, 217, 0.123);
    --inst-name: #000000;
    --color-text: #ffff;
}

body{
    background-image: url("../img/fundo-site1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: repeat-y, no-repeat;
    overflow-x: hidden;
    height: 90.19vh;
    color: var(--color-text);    
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 2rem 5.20rem;

    font-family: 'Telegraf', sans-serif;
}

header img {
    width: 5.36rem;
    height: auto;    
}

header .logo {
    width: 3.5rem;
    height: 3.5rem; 
    margin-right: 0.725rem; 
}

header nav {
    width: 71.66rem;
    height: auto;
}


nav a {
    text-decoration: none;
    color: var(--color-text);
}

nav.pags a {
    color: white;
    text-decoration: none;
    margin-left: 15%;
    font-size: 1.625rem;
    font-weight: 300;
}

nav.pags a:hover {
    text-decoration: underline;
}



.inicio {
    padding: 2.5rem 5.125rem;
}

.inicio h1 {
    font-size: 4.998rem;
    margin-top: 10rem;
    margin-bottom: 0.625rem;

    font-family: 'Telegraf', sans-serif;
}

.inicio p {
    font-size: 1.875rem;
    line-height: 1.9;
    margin-top: 0.125rem;

    font-family: 'Telegraf', sans-serif;
}

.inicio h5 {
    font-size: 2rem;
    margin-top: -8rem;

    font-family: 'Telegraf', sans-serif;
}

.inicio img {
    height: 1.87rem;
    text-decoration: none;
}

.redes_sociais {
    margin-top: 22.5rem;
}

.redes_sociais img {
    display: flex;
    flex-direction: column;
}



.info {
    padding-left: 1.1rem;
    display: flex;
    justify-content: space-between;
    padding: 2.4rem 6rem;
    
    margin-top: 8rem;
}

.info h2{ 
    margin-bottom: 0.625rem; 
    margin-top: 3.4rem;
    font-size: 5.375rem;   
}

.info p {
    margin-bottom: 2.25rem;
    font-size: 2.2rem;
    padding: 1.1rem;
}

.info button {
    width: 18.5rem;
    height: 4.56rem;
    padding: 1.1rem;

    background-color: var(--botton-color);
    border: none;
    text-decoration: none;
    text-align: center;
    border-radius: 1.5rem;

    color: var(--color-text); 
    display: inline-block;
    font-size: 1.9rem;
    margin: 0;
    cursor: pointer;
}

.info button:hover {
    background-color: #D7B0E8;
    color: #51114F;
}

.info img {
    width: 26.7rem;
    height: 38rem;

    max-width: 100%;
    border-radius: 2.9rem;
}

.Contato {
    display: flex;
    flex-direction: column;
}

.Contato img {
    width: 16.5rem;
    height: 17rem;
    border-radius: 5rem;
    margin-top: 5.875rem;
}

.Contato h2 {
    font-size: 3.125rem;
    margin: 5rem;
}

.fileira1, .fileira2{
    display: flex;
}

.fileira1 {
    margin-left: 10.375rem;
}

.fileira2{
    margin-left: 15.8rem ;
}

.Contato h2 {
    font-size: 3.125rem;
    margin: 5rem;
}

.pessoas h3{ 
    margin-top: 1rem;
    font-size: 1.75rem;  
}

.pessoas p {
    font-size: 1.75rem;
    color: var(--inst-name);
}
 
.pessoas {
    display: flex;
    border-radius: 1.25rem;
    width: 18.5rem;
    height: 5.6rem;
    align-items: center;
    background: var(--box-name);
    flex-direction: column;
} 


 

.feedback, #img_principal{
    width: 96.5rem;
    height: 30.6rem;
}

.feedback h2 {
    font-size: 3.125rem;
    margin: 2rem;
    margin-left: 3.9rem;
}

hr {  
    height: 3px;
    width: 7800%;
    color: var(--barra-color);
    background-color: var(--barra-color);
    border: 0;
    margin: 2rem 3rem;
}

.feedback p {
    margin-top: 2.5rem;
    margin-bottom: -7rem;
    font-size: 2.2rem;
    width: 33.25rem;
    height: 10.125rem;

    display: flex;
    justify-content: left;
    padding-left: 3.9rem;
}

.feedback div {
    padding-left: 1.1rem;
    display: flex;
    flex-direction: column;
    padding: 20rem;
    margin-left: 25%;
    margin-top: -32.60rem
}

.feedback div > p{
    padding-left: 0%;
    font-size: 1.875rem;
}

.contato-info p strong {
    flex-direction: left;
}

table img{
    width: 2.75rem;
    height: 2.94rem; 
    margin-right: 1.56rem;
}

table p{
    font-size: 1.75rem;
    padding-left: 1.5rem;
    margin-left: -3.9rem;
}
