*{
    margin: 0;
    padding: 0;
}

/*fonte Telegraf */
@font-face {
    font-family: 'Telegraf';
    src: url('caminho/para/telegraf-regular.woff2') format('woff2'),
         url('caminho/para/telegraf-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Telegraf';
    src: url('caminho/para/telegraf-bold.woff2') format('woff2'),
         url('caminho/para/telegraf-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/*fonte Garet */
@font-face {
    font-family: 'Garet';
    src: url('caminho/para/garet-regular.woff2') format('woff2'),
         url('caminho/para/garet-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garet';
    src: url('caminho/para/garet-bold.woff2') format('woff2'),
         url('caminho/para/garet-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

:root{
    --barra-color: #5F0087;
    --botton-color:#651563;
    --box-name: rgba(217, 217, 217, 0.123);
    --inst-name: #000000;
    --color-text: #ffff;
}

body{
    background-image: url('../img/fundo-site1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    overflow-x: hidden;
    height: 139.33svh;
    color: var(--color-text);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    padding: 2rem 6.25rem;
}

header img {
    width: 4.36rem;
    height: auto;    
}

header .logo {
    width: 3.5rem;
    height: 3.5rem; 
    margin-right: 0.625rem; 
}

header nav {
    width: 71.66rem;
    height: auto;
}

nav h1 {

}

nav a {
    text-decoration: none;
    color: var(--color-text);
}

nav.pags a {
    color: white;
    text-decoration: none;
    margin-left: 15%;
    font-size: 1.625rem;
    font-weight: 300;
}

nav.pags a:hover {
    text-decoration: underline;
}



.inicio {
    padding: 2.5rem 5.125rem;
}

.inicio h1 {
    font-size: 6rem;
    margin-top: 8rem;
    margin-bottom: 0.625rem;
}

.inicio p {
    font-size: 1.875rem;
    line-height: 1.9;
    margin-top: 0.125rem;
}

.inicio h5 {
    font-size: 2.2rem;
    margin-top: -8rem;
}

.inicio img {
    height: 1.87rem;
    text-decoration: none;
}


.redes_sociais {
    display: flex;
    align-items: center;
    margin-top: 25.5rem;
}

.redes_sociais h5 {
    color: white;
    margin-right: 10px; 
    font-family: 'Garet', sans-serif;
    line-height: 1; /* Garante que o texto e o ícone estejam no mesmo nível */
    display: inline-block; /* Para garantir que h5 e o ícone estejam na mesma linha */
}

.redes_sociais button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: inline-block; /* Para alinhar o ícone na mesma linha */
}

.redes_sociais button img {
    width: 30px;
    height: 30px;
    vertical-align: middle; /* Alinhamento vertical do ícone */
}

.info {
    padding-left: 1.1rem;
    display: flex;
    justify-content: space-between;
    padding: 2.4rem 6rem;
    
    margin-top: 8rem;
}

.info h2{ 
    margin-bottom: 0.625rem; 
    margin-top: 3.4rem;
    font-size: 5.375rem;   
}

.info p {
    margin-bottom: 2.25rem;
    font-size: 2.2rem;
    padding: 1.1rem;
}

.info button {
    width: 18.5rem;
    height: 4.56rem;
    padding: 1.1rem;

    background-color: var(--botton-color);
    border: none;
    text-decoration: none;
    text-align: center;
    border-radius: 1.5rem;

    color: var(--color-text); 
    display: inline-block;
    font-size: 1.9rem;
    margin: 0;
    cursor: pointer;
}

.info button:hover {
    background-color: #D7B0E8;
    color: #51114F;
}

.info img {
    width: 26.7rem;
    height: 38.7rem;

    max-width: 100%;
    border-radius: 2.9rem;
    margin-top: -2.3rem;
}



.Contato {
    padding: 12.5rem;
}

.Contato img {
    width: 15.8rem;
    height: 17.125rem;

    border-radius: 5rem;
    margin-top: 9rem;
}

.Contato h3{ 
    margin-bottom: 4.75rem; 
    margin-top: 9rem;
    font-size: 1.75rem;   
}

.Contato p {
    font-size: 1.75rem;
}
 
.fileira1{
    display: flex;
    justify-content: space-between;
    
}


.fileira2{
    display: flex;
    justify-content: space-between;
    padding: 15.8rem ;
}


.dados h3{ 
    margin-bottom: 4.75rem; 
    font-size: 1.75rem;   
}

.dados p {
    margin-top: 4.5rem;
    font-size: 1.75rem;
    color: var(--inst-name);
}
 
.dados {
    display: flex;
    border-radius: 35px;
    width: 20rem;
    height: 7rem;
    padding: 1rem;
    background: var(--box-name);
}

.feedback, #img_principal{
    margin-top: -11rem;
    width: 96.5rem;
    height: 30.6rem;
}

.feedback h2 {
    font-size: 3.125rem;
    margin: 2rem;
}

hr {  
    height: 3px;
    width: 7800%;
    color: var(--barra-color);
    background-color: var(--barra-color);
    border: 0;
    margin: 2rem 3rem;
}

.feedback{
    margin-bottom: -30rem;
}

.feedback p {
    margin-top: 2.5rem;
    font-size: 2.2rem;
    width: 33.25rem;
    height: 10.125rem;

    display: flex;
    justify-content: left;
    padding-left: 3.9rem;
}

.lugar_contato, img{
    width: 2.75rem;
    height: auto; 
}

.feedback div {
    padding-left: 1.1rem;
    display: flex;
    flex-direction: column;
    padding: 20rem;
    margin-top: -22rem;
    margin-left: 25%;
    margin-top: -32.60rem;
}

.feedback div > p{
    padding-left: 0%;
    font-size: 1.875rem;
}

.feedback h5{
    display: flex;
    font-size: 1.1.75rem;
    justify-content: right;
    margin-top: 2.125rem;
}

#inst, #email {
    align-items: flex-start;
}