*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

html{
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

/* PP Telegraf Regular */
@font-face {
    font-family: 'PP Telegraf';
    src: url('../FONTES/PPTelegraf-Regular.woff2') format ('woff2'),
         url('../FONTES/PPTelegraf-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* PP Telegraf UltraBold */
@font-face {
    font-family: 'PP Telegraf';
    src: url('../FONTES/PPTelegraf-UltraBold.woff2') format('woff2'),
         url('../FONTES/PPTelegraf-UltraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

/* Garet Book */
@font-face {
    font-family: 'Garet';
    src: url('../FONTES/Garet-Book.woff2') format('woff2'),
         url('../FONTES/Garet-Book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* Garet Heavy */
@font-face {
    font-family: 'Garet';
    src: url('../FONTES/Garet-Heavy.woff2') format('woff2'),
         url('../FONTES/Garet-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

:root{
    --barra-color: #5F0087;
    --botton-color:#651563;
    --color-text: #ffff;
}

body{
    background-image: url("../img/fundo-site1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-attachment: scroll;
    background-repeat: repeat-y, no-repeat;
    overflow-x: hidden;
    height: 90.19vh;
    color: var(--color-text);   

    cursor: url('../../img/img.cursor.png'), auto;
}

main {
    max-width: 1440px;
    margin-inline: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 2%;
}

header img {
    width: 5.36rem;
    height: auto;    
}

header .logo {
    width: 3.5rem;
    height: 3.5rem; 
    margin-right: 0.725rem; 
}

header nav {
    width: 71.66rem;
    height: auto;
}

nav h1 {
    font-family: 'PP Telegraf', sans-serif;
    font-weight: 600;
    color: white;
}

nav a {
    text-decoration: none;
    color: var(--color-text);

    font-family: 'Garet', 'sans-serif';
    font-weight: 200;
}

nav.pags a {
    color: white;
    text-decoration: none;
    margin-left: 15%;
    font-size: 1.625rem;
    font-weight: 300;

    font-family: 'Garet', 'sans-serif';
    font-weight: 200;
}

nav.pags a:hover {
    text-decoration: underline;
}

section {
    margin: 4rem;
}

.estrutura {
    display: flex;
    justify-content: space-between;
}

.carrossel-de-imagens{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    width: 100%; 
    margin: 0 auto;
    height: 500px;
}

.estrutura {
    position: relative;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    gap: 32px; 
    width: 100%;
    height: 100%;
    transition: 1s;
}

.estrutura_container{
    overflow: hidden;
    width: 100%;
}

.carrossel-de-imagens .imagem_carrosel img{ 
    width: 18rem; 
    height: 20rem; 
    border-radius: 1.5rem;
    transition: transform 0.3s ease-in-out;
    cursor: pointer; 

}

.imagem_carrosel1 img {
    width: 15.3rem; 
    height: 20.3rem; 
    border-radius: 1.5rem;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.imagem_carrosel2 img {
    width: 14.3rem; 
    height: 20.3rem; 
    border-radius: 1.5rem;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.imagem_carrosel3 img {
    width: 14.3rem; 
    height: 20.3rem; 
    border-radius: 1.5rem;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.imagem_carrosel4 img {
    width: 14.3rem; 
    height: 20.3rem; 
    border-radius: 1.5rem;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.imagem_carrosel5 img {
    width: 14.3rem; 
    height: 20.3rem; 
    border-radius: 2rem;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.imagem_carrosel6 img {
    width: 14.3rem; 
    height: 20.3rem; 
    border-radius: 2rem;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.imagem_carrosel7 img {
    width: 14.3rem; 
    height: 20.4rem; 
    border-radius: 2rem;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.imagem_carrosel8 img {
    width: 14.3rem; 
    height: 20.3rem; 
    border-radius: 2rem;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.carrossel-de-imagens .imagem_carrosel img:hover{
    transform: scale(1.05);
}

.seta-esquerda img, .seta-direita img {
    width: 50px; 
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.seta-esquerda img:hover, .seta-direita img:hover {
    transform: scale(1.2);
}

.seta-esquerda, .seta-direita {
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 99;
}

}

.seta-direita {
    margin-left: 10%;
}

.seta-esquerda {
    margin-right: 10%;
}

