* {
    margin: 0;
    padding: 0;
    max-width: 1440px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

/* PP Telegraf Regular */
@font-face {
    font-family: 'PP Telegraf';
    src: url('caminho/para/pp-telegraf-regular.woff2') format('woff2'),
        url('caminho/para/pp-telegraf-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* PP Telegraf UltraBold */
@font-face {
    font-family: 'PP Telegraf';
    src: url('caminho/para/pp-telegraf-ultrabold.woff2') format('woff2'),
        url('caminho/para/pp-telegraf-ultrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

/* Garet Book */
@font-face {
    font-family: 'Garet';
    src: url('caminho/para/garet-book.woff2') format('woff2'),
        url('caminho/para/garet-book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* Garet Heavy */
@font-face {
    font-family: 'Garet';
    src: url('caminho/para/garet-heavy.woff2') format('woff2'),
        url('caminho/para/garet-heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

:root {
    --botton-color: #7F00B4;
    --box: rgba(126, 0, 180, 0.486);
    --color-text: #ffff;
}

body {
    background-image: url("../../img/fundo-site1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-repeat: repeat-y, no-repeat;
    overflow-x: hidden;
    height: 90.19vh;
    color: var(--color-text);
    margin-bottom: 10rem;

    cursor: url('../../img/img.cursor.png'), auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 2%;
}

header img {
    width: 5.36rem;
    height: auto;
}

header .logo {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0.725rem;
}

header nav {
    width: 71.66rem;
    height: auto;
}

nav h1 {
    font-family: 'PP Telegraf', sans-serif;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: var(--color-text);

    font-family: 'Garet', 'sans-serif';
    font-weight: 200;
}

nav.pags a {
    color: white;
    text-decoration: none;
    margin-left: 15%;
    font-size: 1.625rem;
    font-weight: 300;

}

nav.pags a:hover {
    text-decoration: underline;
}

section {
    margin-left: 5.9rem;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 5.9rem;
    margin-top: 6rem;
    margin-bottom: 0.725rem;
    font-family: 'PP Telegraf', sans-serif;
    font-weight: 100;
}

.score {
    background-color: var(--box);
    width: 20rem;
    height: 18rem;
    border-radius:3.135rem;
    font-size: 3.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.5rem;
    margin-left: 6rem;

}

.score h3 {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 5.9rem;

    font-family: 'Garet', 'sans-serif';
    font-weight: 700;
}

.score p {
    font-size: 2.5rem;
    font-family: 'Garet', 'sans-serif';
    font-weight: 200;
}

.opicoes p{
    margin-top: 11rem;
    margin-left: 5.9rem;
    margin-right: 4rem;
    font-size: 1.5rem;
    width: 35.75rem;

    font-family: 'Garet', 'sans-serif';
    font-weight: 200;
}

#texto2 p{
    margin-top: 2rem;
}

button {
    width: 28.125rem;
    height: 6rem;
    max-width: 100%;
    margin-top: 1rem;
    margin-left: 7.3rem;

    
    background-color: var(--botton-color);
    border: none;
    text-decoration: none;
    text-align: center;
    border-radius: 3rem;

    color: var(--color-text); 
    font-size: 2rem;
    cursor: pointer;

    font-family: 'Garet', 'sans-serif';
    font-weight: 700;
    
}

button:hover {
    background-color: #D7B0E8;
    color: #51114F;
}
